{% extends "layouts/layouts.html" %}

{% block title %}
    {{title}} | Django
{% endblock title %}

{% block content %}
    <h1> {{title}} </h1>
    <p> {{content}} </p>
    <p> {{mensaje_vision}} </p>
    <h3> En Durango, la Catrina llegó,
        a la Universidad Tecnológica se dirigió,
        entre aulas y pasillos se paseaba,
        y a todos los estudiantes observaba.
        
        "Vengo por ingenieros y licenciados,
        los quiero listos, bien preparados",
        decía la Muerte con gran emoción,
        buscando talento y dedicación.
        
        Los alumnos la miraban sin temor,
        con libros en mano y gran fervor,
        pues en la UTD enseñan con pasión,
        a vencer la vida con educación.
        
        La Catrina, sorprendida y sin aliento,
        vio tanto esfuerzo y conocimiento,
        y decidió mejor no interrumpir,
        a estos jóvenes listos para el porvenir.
        
        "Volveré otro día", dijo al partir,
        "cuando terminen y estén por salir,
        mientras tanto, sigan con su misión,
        formando futuros con dedicación". </h3>
{% endblock content %}